<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Steganography App</title>
  <link rel="stylesheet" href="/static/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form id="loginForm" action="/login" method="post">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" name="name" placeholder="Name" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
        <a href="#">Forgot Password</a>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="register-link">
        <p>New member? <a href="/user_details">Create a new account</a></p>
      </div>
    </form>
  </div>
  <script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var form = event.target;
      var formData = new FormData(form);
      fetch(form.action, {
        method: form.method,
        body: formData
      }).then(response => response.json())
      .then(data => {
        if (data.message) {
          alert(data.message);
          window.location.href = data.redirect_url;
        } else {
          alert(data.error);
        }
      }).catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
      });
    });
  </script>
</body>
</html>
